.wp_starter_plugin_custom_meta,
.wp_starter_plugin_settings {
        label {
                display: block;
                width: 100%;
                margin-top: 1.1rem;
        }
        input,
        textarea,
        select {
                margin: 0.5rem auto 0 auto;
        }
        input[type='text'],
        textarea,
        select {
                width: 100%;
        }
        input[type='radio'],
        input[type='checkbox'] {
                margin: -2px 0.5rem 0 0.3rem;
        }
        .fieldset {
                width: 100%;

                label {
                        display: inline;
                        width: auto;
                        margin-top: 0;
                }
        }
        .description {
                width: 100%;
                display: block;
                font-style: italic;
                font-size: small;
                margin: 0.4rem auto 0.5rem auto;
                color: #888;
        }
}

.wp_starter_plugin_settings {
        &__section {
                background: #fff;
                width: 100%;
                max-width: 640px;
		margin-top: 1rem;
                padding: 0.5rem 1.5rem 1.5rem 1.5rem;
                border-radius: 3px;
        }

        .fieldset {
                margin: 0.7rem auto 1rem auto;
        }

        input,
        textarea,
        select {
                margin-bottom: 0.5rem;
        }
}
